body {
  background-color: var(--bgColor);
  position: relative;

}

body::after {
  content: '';
  position: absolute;
  background-color: var(--tColor);
  width: 100px;
  height: 200px;
  filter: blur(100px);
  transform: rotate(45deg);
  top: -75px;
}

body::before {
  content: '';
  position: absolute;
  background-color: var(--tColor);
  width: 60px;
  height: 300px;
  right: 25%;
  filter: blur(100px);
  transform: rotate(45deg);
  top: 205px;
}

/* start header customize */
header {
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--tColor);
  text-transform: capitalize;
  height: 100px;
}

header .container h1 {
  font-style: italic;
}

header .container nav {
  display: flex;
  gap: 4rem;
  font-size: 1.4rem;
}

header .container nav li a {
  position: relative;
}

header .container nav li a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: var(--tColor);
  left: 1px;
  bottom: -5px;
  transition: width .2s;
}

header .container nav li a.active::after {
  width: 25%;
}

header .container nav li a:hover::after {
  width: 100%;
}

header .container .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

header .container .icons i {
  font-size: 1.5rem;
}

header .container .icons a {
  transition: transform .2s;
}

header .container .icons a:hover {
  transform: scale(1.2);
}

header .container .icons .menu {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 25px;
  justify-content: space-between;
  align-items: flex-end;
}

header .container .icons .menu span {
  background-color: var(--tColor);
  height: 3px;
  width: 100%;
  transition: width .2s;
}

header .container .icons .menu span:nth-child(2) {
  width: 50%;
}

header .container .icons .menu:hover span:nth-child(2) {
  width: 100%;
}



header .container aside {
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: var(--tColor);
  transition: transform .6s, filter .4s;
  transform: scale(0);
  transform-origin: top right;
  filter: blur(20px);
}


header .container aside li a {
  padding: 10px 0;
  display: block;
  font-size: 1.2rem;
  color: black;
  border-bottom: 1px solid black;
}

#menu-check {
  display: none;
}


header .container .icons #menu-check:checked~aside {
  transform: scale(1);
  filter: blur(0px);

}


/* start responsive header */

@media (max-width: 992px) {
  header .container nav {
    display: none;
  }

  header .container .icons .menu {
    display: flex;
  }
}


/* end responsive header */


/* end header customize */

main {
  background-image: url(../images/1.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}


main .container {
  height: calc(100vh - 100px);
  padding-top: 100px;
}

main .container>img {
  position: absolute;
  top: 60%;
  right: 30%;
  width: 150px;
}

main .container {
  text-transform: capitalize;
  color: var(--tColor);
}

main .container .text h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  position: relative;
  display: inline-block;
}

main .container .text h1::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 20px;
  border-top: 4px solid #939393;
  border-right: 4px solid #939393;
  bottom: 40px;
  right: -20px;
  transform: rotate(-45deg);
}

main .container .text h1::before {
  content: '';
  position: absolute;
  height: 46px;
  width: 20px;
  border-right: 2px solid #939393;
  bottom: 20px;
  right: -20px;

}

main .container .text h1>span {
  display: block;
}

main .container .text h1>span span {
  font-weight: 900;
}

main .container .text p {
  font-size: 1.2rem;
}

main .container .text a {
  background-color: var(--tColor);
  color: #202202;
  padding: 10px 40px;

  display: inline-block;
  border: 2px solid transparent;
  transition: .2s;
}

main .container .text a:hover {
  border: 2px solid var(--tColor);
  background-color: transparent;
  color: var(--tColor);
}

main .container .icons-social {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: row-reverse;
}

main .container .icons-social .icon-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
}

main .container .icons-social .icon-social a i {
  transition: .2s;
}

main .container .icons-social .icon-social a:hover i {
  transform: scale(1.19);
}

.cls-1 {
  fill: none;
  stroke: #FFF;
  stroke-miterlimit: 10;
  stroke-width: 2PX;
}

.cls-2 {
  fill: #FFF;
  stroke: none;
  stroke-miterlimit: 10;
}

/* start responsive  main */
@media (max-width: 1200px) {
  main {
    background-size: 500px;
  }
}

@media (max-width: 576px) {
  main {
    background-size: 100%;

  }

  main .container>img {
    display: none;
  }

  main .container .text h1 {
    font-size: 3rem;
    display: block;
    text-align: center;
  }

  main .container .text h1::after,
  main .container .text h1::before {
    display: none;
  }

  main .container .text p {
    text-align: center;
  }

  main .container .text a {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
}

/* end responsive  main */



.homes {
  background-color: #232323;
  border-top: 2px solid #fff;
  position: relative;
}

.homes::after {
  content: '';
  position: absolute;
  top: -80px;
  background-color: var(--tColor);
  width: 100px;
  height: 200px;
  filter: blur(80px);
  right: 150px;
  overflow: hidden;
}

.homes .container {

  padding: 100px 0;


}


.homes .container .images {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.homes .container .images::after {
  position: absolute;
  content: '';
  top: 55%;
  left: -200px;
  transform: translateY(-50%);
  height: 2px;
  background-color: #fff;
  width: 200px;
}

.homes .container .images figure {
  margin: 0;
}

.homes .container .images figure img {
  width: 100%;
}

.homes .container .images figure figcaption {
  color: var(--tColor);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: 5px;

}

.homes .container .images figure {
  position: relative;
}

.homes .container .images figure:not(:first-child) figcaption {
  display: none;
}

.images-container .move {
  position: absolute;
  right: 100px;
  top: -50px;
  display: flex;
  align-items: flex-end;
  gap: 60px;
  height: 40px;
}

.images-container .move .line {
  width: 300px;
  height: 2px;
  background-color: #939393;
  position: relative;
}

.images-container .move .line span {
  position: absolute;
  height: 100%;
  width: calc(100% / 3);
  background-color: #fff;
}

.images-container .move .buttons {
  display: flex;
  gap: 10px;
}

.images-container .move .buttons button {
  color: #000;
  background-color: #fff;
  border: 1px solid #9f9797;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60px;
  cursor: pointer;
}



.images-container .move .buttons button:disabled {
  cursor: no-drop;
  color: #fff;
  background-color: #9f9797;
  border: 1px solid #fff;
}


.homes .container .items {
  color: var(--tColor);
  font-size: 22px;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 20px;
}

.homes .container .items h2 {
  font-size: 40px;

}

.homes .container .items h2,
.homes .container .items p {
  margin: 0;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.homes .container .items span {
  width: 1px;
  height: 70px;
  background-color: var(--tColor);
}

@media (max-width: 1200px) {
  .images-container .move {
    gap: 20px;
  }

  .images-container .move .line {
    width: 250px;
  }

  .images-container .move .buttons button {
    width: 40px;
    height: 30px;
    font-size: 1.4rem;
  }
}



@media (max-width: 992px) {

  .homes .container .images figure {
    position: static;
  }

  .homes .container .images {
    position: relative;
  }

  .images-container .move {
    top: auto;
    bottom: -80px;
    flex-direction: column;
    height: 60px;
    gap: 8px;
    right: 50%;
    transform: translateX(50%);
  }

  .images-container .move .buttons {
    justify-content: center;
    width: 100%;
  }

  .homes .container .items {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .homes .container {
    height: auto;
    padding: 60px 0;
    padding-bottom: 100px;
  }


  .homes .container .items h2,
  .homes .container .items p {
    font-size: 20px;

  }


  .homes .container .items {
    flex-direction: column;
  }

  .homes .container .items span {
    height: 1px;
    width: 70px;
    background-color: var(--tColor);
  }

  .homes .container .images-container {
    width: 100%;
    padding: 0 30px;
  }

  .homes .container .images {
    flex-direction: column;

  }

  .homes .container .images figure {
    width: 100%;
  }

  .homes .container .images figure figcaption {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .homes .container .images figure:not(:first-child) figcaption {
    display: block;
  }

  .homes .container .images .move {
    display: none;
  }
}

.dreams {
  background-color: #232323;
  padding-top: 100px;
  padding-bottom: 100px;
}

.dreams .container {
  display: flex;
  flex-direction: row-reverse;
}

.dreams .dream-list {
  width: 100%;
  padding: 100px 0;
  color: var(--tColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-size: 27px;
  background-color: #0000004f;
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 2;
}

.dreams .dream-cont-cont {
  width: 70%;
  position: relative;
}

.dreams .dream-cont-cont img {
  position: absolute;
  width: 300px;
  top: -100px;
  z-index: 1111;
  left: -200px;
}

.dreams .cont-dream {
  width: 100%;
  position: relative;
  background-color: #000000;

}

.dreams .dream-cont-cont::before {
  content: '';
  position: absolute;
  inset: -2px;
  background: linear-gradient(-60deg, #9f9797, transparent);
  z-index: 0;
}

.dreams .cont-dream::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 150px;
  background-color: var(--tColor);
  bottom: 100px;
  left: -300px;
}

.dreams .dream-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding-top: 50px;
}

.dreams .dream-list ul li {
  transition: .3s;
}

.dreams .dream-list ul li:hover {
  letter-spacing: 1px;
}

.dreams .dream-list ul li::before {
  content: url(../images/star2.svg);
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 20px;
  vertical-align: middle;
  transition: transform .6s;
  transform-origin: center center;

}

.dreams .dream-list ul li:hover::before {
  transform: rotate(360deg);

}


.dreams .dream-list button {
  padding: 10px 30px;
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 80px;
  cursor: pointer;
}

.dreams .dream-list .SVG-text {
  position: absolute;
  top: -150px;
}

.dreams .dream-list .SVG-text svg {
  position: absolute;
  left: 30px;

}

.dreams .dream-list .SVG-text h1 {
  width: 200px;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 0px;


}

@media (max-width: 992px) {


  .dreams .cont-dream::after {
    width: 400px;
    left: -200px;
  }
}

@media (max-width: 768px) {
  .dreams .cont-dream::after {
    display: none;
  }

  .dreams .dream-cont-cont {
    width: 100%;
  }

  .dreams .dream-cont-cont img {
    display: none;
  }

  .dreams .dream-cont-cont ul {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }

  .dreams .dream-list button {
    margin-left: 0;
  }
}



@media (max-width: 576px) {
  .dreams .dream-cont-cont ul {
    font-size: 19px;
  }

  .dreams .dream-list ul li::before {
    margin-right: 6px;
  }
}

.comment  {
  background-color: #232323;
  text-transform: capitalize;
  padding: 50px 0;
}
.comment  .container .items ,
.comment  .container .items .text-item ,
  .comment  .container .items .item .image-text-item {
  display: flex;
}
.comment  .container .items  {
  gap: 30px;
  justify-content: space-between;
  overflow-x: scroll;
      padding: 30px 0;
    }
    .comment  .container .cont-items {
  position: relative;

}

.comment  .container .cont-items::after,
.comment  .container .cont-items::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  z-index: 111;
  pointer-events: none;
}
.comment  .container .cont-items::before {
  background-image: linear-gradient(to left, #232323 , transparent);
  right: 0;
}
.comment  .container .cont-items::after {
  background-image: linear-gradient(to right, #232323 , transparent);
  left: 0;
}
.comment  .container .items::-webkit-scrollbar {
  height: 2px;
}
.comment  .container .items::-webkit-scrollbar-thumb {
  background-color: var(--tColor);
  width: 20px;
}


.comment  .container .items .cont-item {
    flex-grow: 1;
    min-width: 50%;
}
.comment  .container .items .item {
  padding: 20px;
  background-image: url(../images/3.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: left center;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #232323;
  z-index: 2;
}
.comment  .container .items .cont-item {
  position: relative;
}
.comment  .container .items .cont-item::after {
  position: absolute;
  content: '';
  inset: 0 -2px -2px 0;
  background-image: linear-gradient(-45deg , var(--tColor) 10% , transparent 50%);
  z-index: 1;
}
.comment  .container .items * {
  margin: 0;
  color: var(--tColor);
}
.comment  .container .items .item h1 {
  margin-bottom: 100px;
  font-size: 3rem;
}

.comment  .container .items .text-item  {
  width: 60%;
  flex-direction: column;

  align-self: flex-end;

  gap: 10px;
}
.comment  .container .items .text-item  .image-text-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comment  .container .items .text-item  .image-text-item img {
  width: 60px;
}
.comment  .container .items .text-item  .image-text-item .text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


@media (max-width: 768px) {
  .comment  .container .items .item .image-text-item {
    margin-top: 20px;
  }
  .comment  .container .items .item h1 {
    margin-bottom: 35px;
  font-size: 1.5rem;
}
.comment  .container .items .text-item {
  align-self: center;
  width: 100%;
}
}

@media (max-width: 576px) {
    .comment  .container .items .cont-item  {
      min-width: 200px;
    }
    .comment  .container .cont-items::after,
.comment  .container .cont-items::before { 
  width: 50px;
}
}




.project .container {
  display: flex;
  padding: 70px 0;
  justify-content: space-between;
}
.project .container .left-proj,
.project .container .right-proj {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}
.project .container .right-proj {
  align-items: center;

 }
.project .container .left-proj h1 {
  font-size: 52px;
  color: #fff;
  /* text-indent: 40px; */
  margin-left: 60px;
}
.project .container .left-proj img {
  width: 400px;
}

.project .container .right-proj form {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #393939ca;
  backdrop-filter: blur(10px);
  gap: 30px;
}
.project .container .right-proj form .box-input {
  position: relative;
}
.project .container .right-proj form .box-input input,
.project .container .right-proj form .box-input textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--tColor);
  resize: none;
  height: 40px;
  outline: none;
  padding-left: 10px;
}

.project .container .right-proj form .box-input label {
  position: absolute;
  bottom: 50%;
  left: 10px;
  transform: translateY(50%);
  transition: .2s;
  color: #fff;
}

.project .container .right-proj form .box-input input:focus + label,
.project .container .right-proj form .box-input input:valid + label,
.project .container .right-proj form .box-input textarea:focus + label, 
.project .container .right-proj form .box-input textarea:valid + label {
  bottom: 122%;
 }
